<!DOCTYPE html>
<html ng-app="calculator">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  
</head>

<body ng-controller="CalculatorController">
  <div class="container-fluid main">
    <div class="display">
      <div class="row">
        <div class="col-xs-12">{{mainDisplay}}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 secondDisplay">{{secondDisplay}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 button-container large-button-container"><button type="button" class="btn btn-danger btn-block myButton" ng-click='resetTyped()'>AC</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-danger btn-block myButton" ng-click='clearTyped()'>CE</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-warning btn-block myButton" ng-click='operationTyped("/")'>&divide</button></div>
    </div>
    
    <div class="row">
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped("7")'>7</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped("8")'>8</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped("9")'>9</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-warning btn-block myButton" ng-click='operationTyped("x")'>x</button></div>
    </div>
    
    <div class="row">
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped("4")'>4</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped("5")'>5</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped("6")'>6</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-warning btn-block myButton" ng-click='operationTyped("-")'>-</button></div>
    </div>
    
    <div class="row">
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped("1")'>1</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped("2")'>2</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped("3")'>3</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-warning btn-block myButton" ng-click='operationTyped("+")'>+</button></div>
    </div>
    
    <div class="row">
      <div class="col-xs-6 button-container large-button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped("0")'>0</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='numberTyped(".")'>.</button></div>
      <div class="col-xs-3 button-container"><button type="button" class="btn btn-warning btn-block myButton" ng-click='equalsTyped()'>=</button></div>
    </div>
  </div>
  <p class="author">Designed & Coded by <a href="vitorpedro.com" target="_blank">Vitor Pedro</a></p>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
  <script src="js/index.js"></script>

</body>
</html>
