<!DOCTYPE html>
<html ng-app="calculator">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body ng-controller="CalculatorController as calculator">
  <div class="container-fluid main">
  <div class="row">
    <div class="col-xs-12">{{calculator.mainDisplay}}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">{{calculator.secondDisplay}}</div>
  </div>
  <div class="row">
    <div class="col-xs-6 button-container large-button-container"><button type="button" class="btn btn-danger btn-block myButton" ng-click='calculator.resetTyped()'>AC</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-danger btn-block myButton" ng-click='calculator.clearTyped()'>CE</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-warning btn-block myButton" ng-click='calculator.operationTyped("/")'>&divide</button></div>
  </div>
  
  <div class="row">
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped("7")'>7</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped("8")'>8</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped("9")'>9</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-warning btn-block myButton" ng-click='calculator.operationTyped("x")'>x</button></div>
  </div>
  
  <div class="row">
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped("4")'>4</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped("5")'>5</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped("6")'>6</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-warning btn-block myButton" ng-click='calculator.operationTyped("-")'>-</button></div>
  </div>
  
  <div class="row">
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped("1")'>1</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped("2")'>2</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped("3")'>3</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-warning btn-block myButton" ng-click='calculator.operationTyped("+")'>+</button></div>
  </div>
  
  <div class="row">
    <div class="col-xs-6 button-container large-button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped("0")'>0</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-default btn-block myButton" ng-click='calculator.numberTyped(".")'>.</button></div>
    <div class="col-xs-3 button-container"><button type="button" class="btn btn-warning btn-block myButton" ng-click='calculator.equalsTyped()'>=</button></div>
  </div>

</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
    <script src="js/index.js"></script>

</body>
</html>
